absl-py==0.7.1
astor==0.7.1
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
ConfigArgParse==0.14.0
cycler==0.10.0
docopt==0.6.2
future==0.17.1
gast==0.2.2
grpcio==1.19.0
idna==2.8
kiwisolver==1.0.1
lxml==4.3.2
Markdown==3.0.1
matplotlib==2.2.3
more-itertools==5.0.0
nltk==3.4
numpy==1.16.2
openkiwi==0.1.1
pandas==0.23.4
pathlib2==2.3.3
protobuf==3.7.0
pycparser==2.19
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
PyYAML==3.13
requests==2.21.0
scikit-learn==0.19.2
scipy==1.2.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
tensorboard==1.10.0
tensorflow-gpu==2.3.1
termcolor==1.1.0
torch==1.0.1.post2
torchtext==0.3.1
tqdm==4.31.1
urllib3==1.24.1
Werkzeug==0.14.1
xattr==0.9.6
